<!DOCTYPE html >
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" media="all" href="/css/style.css" type="text/css" />
  <title>Drumble Quiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <img src="/images/DumbrelQuizLogo.png" alt="drumblequiz logo">
    <a href="/">
      <h1>drumblequiz</h1>
    </a>
    {{#if user}}
      logged in as {{user}}, 
      <a href="/logout">logout</a>
    {{else}}
      {{#unless hideUser}}
        <a href="/login">login</a>
      {{/unless}}
    {{/if}}
  </header>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment-with-locales.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  {{{body}}}
</body>

</html>
