<main>
  <form class="drumbleform" id="loginform" class="drumblequizform" method="post" action="/login">

    {{#if redirectTo}}
    <input type="hidden" name="redirectTo" value="{{redirectTo}}" /> 
    {{/if}}
    <label for="rnumber">Username</label>
    <input type="email" id="rnumber" name="email" placeholder="yourname@student.ucll.be" />

    <input id="loginbutton" type="submit" value="Log in" /> {{#if message}}
    <p>{{message}}</p>
    {{/if}}

  </form>

</main>

<footer></footer>