<main id="managequizzescontainer">

  <section>
    <h2>Quizzes</h2>
  </section>

  <form class="drumbleform" id="managequizform" class="drumblequizform" method="post" action="/quiz">
    <section>
    <select name="selectedquiz" id="quizlist" size="7">
      {{#each quizes}}
      <option id="{{Id}}" value="{{Id}}">{{Name}} </option>
      {{/each}}
    </select>
    </section>
    <input name="roomid" type="text" size="10" maxlength="10" >
    <p>{{message}}</p>
    <section>
      <input id="startroom" type="submit" value="START" />
      <a href="/create">create</a>
    </section>
  </form>
</main>
