<main id="managequizzescontainer">

  <section>
    <h2>Quizzes</h2>

    <!-- When linking this to the db, you want to put the amount of available quizzes in the size atttribute of the select element
         You will also need to add an option element for every quiz containing the quiz id
    
        -->

    <ul>
      {{#each quizes}}
      <li data-id="{{Id}}">{{Name}}</li>
      {{/each}}
    </ul>

  </section>

  <section>
    <a href="/create">create</a>

  </section>
</main>