<main>

  <div id="timer">
    <span id="timeLeftSeconds"></span> seconds left
  </div>
  <div id="name"></div>
  <div id="leave">
    <form action="/leave" method="post">
      <input type="submit" value="leave">
    </form>
  </div>

  <div class="bouncing-loader" id="wait">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <ul id="connectedUsers"></ul>
  <div id="answercontainer">
    <ul id="answers">
      <li>a</li>
      <li>b</li>
    </ul>
  </div>
</main>
<style>
  #answercontainer {
    display: none;
  }
  /*#timer { display: none }*/
  #connectedUsers {
    list-style: none; margin: 0; padding: 1em;
    overflow: scroll;
  }
  #connectedUsers li {
    display: inline;
    margin-right: 1em;
  }
</style>
<script>
  $(function () {
    var socket = io();
    socket.on('connectedUsers', function (connectedUsers) {
      $('ul#connectedUsers').html('')
      connectedUsers.forEach(function(user) {
        $('<li>').text(user.display).appendTo($('ul#connectedUsers'))
      })
    })
    var timer;
    socket.on('room-{{roomid}}-questions', function (questions) {
      console.log('questions', questions)
      window.questions = questions
      var $answers = $('#answers').html('')
      questions.forEach(function (question, index) {
        $answers.append(
          $('<li>')
            .text(String.fromCharCode(97 + index)) // 0->a, 1->b...
            .click(function () {
              console.log('selected', question)
              $('#answers>li').removeClass('selected')
              $(this).addClass('selected')
              socket.emit('select', question)
            })
        );
      })
      var endTime = questions[0].endtime
      $('#answercontainer').show()
      $('#timeLeftSeconds').text(moment(endTime).diff(moment(), 'seconds'))
      $('#timer').show()
      $('#wait').hide()
      timer = setInterval(function () {
        // time in seconds
        var timeLeft = moment(endTime).diff(moment(), 'seconds')
        if (timeLeft <= 0) {
          clearInterval(timer)
          $('#timer').hide()
          $('#answercontainer').hide()
          $('#wait').show()
        }
        $('#timeLeftSeconds').text(timeLeft)
      }, 1000)
    })
  })
</script>