<main>
  <p>Enter a displayname</p>
  <form class="drumbleform" id="roomstartsubmit" class="drumblequizform" method="post">
    <input type="hidden" name="roomid" value="{{roomid}}"/>
    <input type="text" name="displayName" />
    <input id="startquiz" type="submit" value="Join Room" />
  </form>
  <p>{{message}}</p>
</main>
