html{

    font-size: 62.5%;

}

body{

    font-family: Arial, sans-serif;
    font-size: 1.6rem;

}

header{

    text-align: center;
}

header img {

    height:10rem;
}

#loginform{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

#loginform label{

    justify-self: center;
}

#loginform *{

    height: 2rem;
}

main#editquestioncontainer{

    display:grid;
    grid-template-columns: 30% auto;
}

#questionlist{

    list-style-type: none;
}

#questionlist li{
    margin-bottom: 1rem;
}

#questionlist img{

    height:2rem;
}

#editquestionform{

    display: grid;
    grid-template-columns: 40rem;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

main#answercontainer{
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1rem;
    text-align:center;
}

main#answercontainer div{
    width:90%;
    justify-self: center;
    padding-top: 2rem;
    height: 6rem;
    font-size: 4rem;
}

#answera{

    background-color: #DDDDFF;
}

#answerb{

    background-color: #FFFFDD;
}
 
#answerc{
    background-color: #DDFFDD;
    
}

#answerd{
    background-color: #FFDDFF
    
}
@media only screen and (min-width: 480px) {
    
    main#answercontainer{
    
        display: grid;
        grid-template-columns: repeat(auto-fit, 30rem);
    }
    
    main#answercontainer div{
        justify-self: fill;
    }

    header img{

        float:left;
        text-align: left;
    }

    header h1{
        float:left;

    }

    main{
        padding-top: 5rem;
        clear:both;
    }
    
    #loginform{
        grid-template-columns: 30rem;
    }
}