/*
 * CSS IS DESIGNED MOBILE FIRST
 * 
 * COMMON ELEMENTS (responsive elements, see mediaquery)
 * 
 */

html{

    font-size: 62.5%;

}

body{

    font-family: Arial, sans-serif;
    font-size: 1.6rem;

}

header{

    text-align: center;
}

header img {

    height:10rem;
}

/* 
 * INDEX PAGE (responsive elements, see mediaquery)
 * 
 */

#roomform{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

#roomform label{

    justify-self: center;
}

#roomform *{

    height: 2rem;
}


/* 
 * ENTERNAME PAGE (responsive elements, see mediaquery)
 * 
 */

#enternameform{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

#enternameform label{

    justify-self: center;
}

#enternameform *{

    height: 2rem;
}

/* 
 * LOGIN PAGE (responsive elements, see mediaquery)
 * 
 */

#loginform{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

#loginform label{

    justify-self: center;
}

#loginform *{

    height: 2rem;
}

/* 
 * WAIT PAGE (responsive, no mediaquery changes)
 * 
 */

/* used code from https://atomiks.github.io/30-seconds-of-css/ */

@keyframes bouncing-loader {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0.1;
      transform: translateY(-1rem);
    }
  }
  .bouncing-loader {
    display: flex;
    justify-content: center;
  }
  .bouncing-loader > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #8385aa;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
  }
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
  }

/* 
 * RANKING PAGE (responsive, no mediaquery changes)
 * 
 */

#rankingcontainer{

    text-align: center;
}

#rankingcontainer div{

    font-size: 8rem;
}

/* 
 * SHOW RESULTS PAGE (not responsive)
 * 
 */

#tempresultscontainer{

    display:grid;
    grid-template-columns: repeat(auto-fit,30rem);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

#tempresultscontainer > *{

    background-color: #DDDDFF;
    padding-left:3rem;
    padding-right: 3rem;
}

#showresultsnext{

    padding-top: 3rem;
}

/* 
 * FINAL RESULTS PAGE (not responsive)
 * 
 */
 
#resultscontainer{
 
     text-align: center;
}

#resultscontainer h2{

    margin-bottom: 4rem;
}

#resultscontainer div img{

    height: 5rem;
}

#resultscontainer div p{

    font-size: 2rem;
    padding-bottom: 2rem;
}

/* 
 * EDIT QUIZ PAGE (not responsive)
 * 
 */

#editquizform{

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 3rem;
}

#editquizform > section{

    width: fit-content;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap:0.5rem;
}

.questioncontainer{

    border: 1px solid black;
    padding: 2rem;
}

.questioncontainer  section{

    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

#answercontainer{

    margin-top: 3rem;
}

/* 
 * START QUIZ PAGE (not responsive)
 * 
 */

#startquizcontainer > *{

    margin: 2rem;
}
 
/* 
 * EDIT QUESTION PAGE (not responsive)
 * (deprecated page, delete later)
 */

main#editquestioncontainer{

    display:grid;
    grid-template-columns: 30% auto;
}

#questionlist{

    list-style-type: none;
}

footer {
    text-align: center;
}

#questionlist li{
    margin-bottom: 1rem;
}

#questionlist img{

    height:2rem;
}

#editquestionform{

    display: grid;
    grid-template-columns: 40rem;
    grid-template-rows: auto;
    grid-gap: 1rem;
}



/* 
 * ANSWER PAGE (responsive elements, see mediaquery)
 * 
 */

 /* sorry Lennie, I messed it up :(
main#answercontainer{
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1rem;
    text-align:center;
}

main#answercontainer div{
    width:90%;
    justify-self: center;
    padding-top: 2rem;
    height: 6rem;
    font-size: 4rem;
}
*/

/* might want to update this with some nice shapes later */


ul#answers {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15rem 15rem;
    grid-gap: 3rem;
    padding: 0;
    list-style: none;
    justify-content: center;
}

ul#answers :nth-child(1){
    
    background: url(../images/elephant.svg);
    background-color: #BBBBDD;
    background-repeat: no-repeat;
    background-size: 10rem 10rem;
    background-position: center;
    border: 1rem solid #BBBBDD; 

}

ul#answers :nth-child(1).selected{
    border: 1rem solid #9999BB; 
    
}

ul#answers :nth-child(2){

    background: url(../images/lion.svg);
    
    background-color: #FFFDDD;
    background-repeat: no-repeat;
    background-size: 10rem 10rem;
    background-position: center;
    border: 1rem solid #FFFDDD; 
}

ul#answers :nth-child(2).selected{

    
    border: 1rem solid #EEEE77; 
}

ul#answers :nth-child(3){

    background: url(../images/crocodile.svg);
    background-color: #DDFFDD;
    background-repeat: no-repeat;
    background-size: 10rem 10rem;
    background-position: center;
    border: 1rem solid #DDFFDD; 
}

ul#answers :nth-child(3).selected{

    border: 1rem solid #AAFFAA; 
}

ul#answers :nth-child(4){

    background: url(../images/flamingo.svg);
    background-color: #FFEEEE;
    background-repeat: no-repeat;
    background-size: 10rem 10rem;
    background-position: center;
    border: 1rem solid #FFEEEE; 
}

ul#answers :nth-child(4).selected{

    border: 1rem solid #FFAAAA; 
}


ul#answers li {
    text-align: center;

    width: 12rem;
    height: 12rem;
    cursor: pointer;

    font-size: 2.5rem;
}

#timer { display: none; }

/* 
 * QUESTION DISPLAY PAGE (not responsive)
 * 
 */

main#questioncontainer{

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

main#questioncontainer div{

    width: 100%;
}

#questionview div#timer{

    text-align: center;
    font-size: 10rem;
}

#questionview p{

    padding-left: 1rem;
}

#answerview{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    text-align: center;
}

#answerview div{
    justify-self: center;
}

#answerview div p{
    padding-left: 1rem;
    text-align:left;
}

#answerview div div{

    font-size: 5rem;
}

#answerview #containera{

    background-color: #DDDDFF;
}

#answerview #containerb{

    background-color: #FFFFDD;
}

#answerview #containerc{

    background-color: #DDFFDD;
}

#answerview #containerd{

    background-color: #FFDDFF;
}

main#questioncontainer input{

    width: 9rem;
    height: 3rem;
    justify-self:end;
    
}

/* ///////////////// MEDIAQUERY STARTS HERE ///////////////// */

@media only screen and (min-width: 480px) {
    
    main#answercontainer div{
        justify-self: fill;
    }

    header img{

        float:left;
        text-align: left;
    }

    header h1{
        float:left;

    }

    main{
        padding-top: 5rem;
        clear:both;
    }
    
    #loginform{
        grid-template-columns: 30rem;
    }

    #roomform{
        grid-template-columns: 30rem;
    }

    #enternameform{
        grid-template-columns: 30rem;
    }
}

@media only screen and (min-width: 720px) {


	ul#answers :nth-child(1){
		background-size: 12rem 12rem;

	}
	ul#answers :nth-child(2){
		background-size: 12rem 12rem;
	}
	ul#answers :nth-child(3){
		background-size: 12rem 12rem;
	}
	ul#answers :nth-child(4){
		background-size: 12rem 12rem;
	}
	ul#answers li {
		width: 15rem;
		height: 15rem;
	}
}

@media only screen and (min-width: 1333px) {

	ul#answers {
		grid-template-columns: repeat(auto-fit, 30rem);
	}

	ul#answers :nth-child(1){
		background-size: 15rem 15rem;

	}
	ul#answers :nth-child(2){
		background-size: 15rem 15rem;
	}
	ul#answers :nth-child(3){
		background-size: 15rem 15rem;
	}
	ul#answers :nth-child(4){
		background-size: 15rem 15rem;
	}
	ul#answers li {
		width: 20rem;
		height: 20rem;
	}
}

