/*
 * CSS IS DESIGNED MOBILE FIRST
 * 
 * COMMON ELEMENTS (responsive elements, see mediaquery)
 * 
 */

html{

    font-size: 62.5%;

}

body{

    font-family: Arial, sans-serif;
    font-size: 1.6rem;

}

header{

    text-align: center;
}

header img {

    height:10rem;
}

/* 
 * LOGIN PAGE (responsive elements, see mediaquery)
 * 
 */

#loginform{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

#loginform label{

    justify-self: center;
}

#loginform *{

    height: 2rem;
}

/* 
 * EDIT QUESTION PAGE (not responsive)
 * 
 */

main#editquestioncontainer{

    display:grid;
    grid-template-columns: 30% auto;
}

#questionlist{

    list-style-type: none;
}
ul#answers {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}
ul#answers li {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    background: #f5f6f9;
    text-shadow: 0 2px white;
    font-size: 4em;
    font-weight: bold;
    color: #b8bec5;
    margin: 0 0.3em;
    padding: 1em 0;
    cursor: pointer;
}
ul#answers li.selected {
    background: black;
    color: white;
}
footer {
    text-align: center;
}

@media only screen and (min-width: 480px) {

#questionlist li{
    margin-bottom: 1rem;
}

#questionlist img{

    height:2rem;
}

#editquestionform{

    display: grid;
    grid-template-columns: 40rem;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

/* 
 * ANSWER PAGE (responsive elements, see mediaquery)
 * 
 */

main#answercontainer{
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1rem;
    text-align:center;
}

main#answercontainer div{
    width:90%;
    justify-self: center;
    padding-top: 2rem;
    height: 6rem;
    font-size: 4rem;
}

/* might want to update this with some nice shapes later */
#answera{

    background-color: #DDDDFF;
}

#answerb{

    background-color: #FFFFDD;
}
 
#answerc{
    background-color: #DDFFDD;
    
}

#answerd{
    background-color: #FFDDFF;
    
}


/* 
 * QUESTION DISPLAY PAGE (not responsive)
 * 
 */

main#questioncontainer{

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

main#questioncontainer div{

    width: 100%;
}

#questionview div#timer{

    text-align: center;
    font-size: 10rem;
}

#questionview p{

    padding-left: 1rem;
}

#answerview{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    text-align: center;
}

#answerview div{
    justify-self: center;
}

#answerview div p{
    padding-left: 1rem;
    text-align:left;
}

#answerview div div{

    font-size: 5rem;
}

#answerview #containera{

    background-color: #DDDDFF;
}

#answerview #containerb{

    background-color: #FFFFDD;
}

#answerview #containerc{

    background-color: #DDFFDD;
}

#answerview #containerd{

    background-color: #FFDDFF;
}

main#questioncontainer input{

    width: 9rem;
    height: 3rem;
    justify-self:end;
    
}

@media only screen and (min-width: 480px) {
    
    main#answercontainer{
    
        display: grid;
        grid-template-columns: repeat(auto-fit, 30rem);
    }
    
    main#answercontainer div{
        justify-self: fill;
    }

    header img{

        float:left;
        text-align: left;
    }

    header h1{
        float:left;

    }

    main{
        padding-top: 5rem;
        clear:both;
    }
    
    #loginform{
        grid-template-columns: 30rem;
    }
}